.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: none;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 3px;
    max-height: 100%;
    width: 43%;
    overflow-y: auto;
    font-family: 'KanitMedium';
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 50px 100px rgba(0,0,0,0.44), 0 0 50px 200px rgba(0,0,0,0.32), 0 0 50px 300px rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-img {
    height: 80vmin;
    width: auto;
    margin: 0 auto 0 auto;
}
.project-details {
    width: 80%;
    margin: 0 auto 50px auto;
}
.project-link {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    border-radius: .2rem;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
    outline: 0;
    color: #fff;
    background-color: #333333;
    border-color: #555555;
    cursor: pointer;
}
.link-icon {
    width: 8%;
}
.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    opacity: 1;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: .3rem 1rem;
}

@media screen and (max-width: 1172px) {
    .modal {
        width: 57%;
    }
}
@media screen and (max-width: 460px) {
    .modal {
        width: 67%;
    }
}