.welcome-slider {
	position: relative;
}

.ws-item {
	position: relative;
	width: 0;
	height: 0;
    overflow: hidden;
}

.ws-item:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #969696;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";       /* IE 8 */
    filter: alpha(opacity=0.7);  /* IE 5-7 */
    -moz-opacity: 0.7;          /* Netscape */
    -khtml-opacity: 0.7;        /* Safari 1.x */
	opacity: 0.7;				  /* Good Browsers */
	-webkit-transition: all 1s;
    -o-transition: all 1s;
	transition: all 1s;
}

.ws-item.fade {
	min-height: 950px;
	position: relative;
	display: table;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.ws-item.fade:after {
	background: #000000;
}

.ws-item .ws-text {
	position: relative;
	display: table-cell;
    vertical-align: middle;
    z-index: 2;
}

.ws-item .ws-title {
	color: #fff;
	font-size: 87px;
	font-weight: 200;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	position: relative;
	left: 150px;
	transform: translateX(10%);
    transition: transform 0.9s ease-out;
}

.ws-item .ws-des {
	color: #fff;
	font-size: 30px;
	line-height: 1.4;
	position: relative;
	left: 150px;
	transform: translateX(15%);
    transition: transform 0.9s ease-out;
}

.ws-item .ws-title.slide,
.ws-item .ws-des.slide {
	transform: translateX(0);
}

.ws-nav {
    position: absolute;
    display: inline-block;
    right: 150px;
    top: 50%;
    font-size: 20px;
	color: #fff;
	z-index: 99;
}

.ws-next {
	z-index: 100;
	cursor: pointer;
}

.ws-dots {
    position: absolute;
    bottom: -5px;
	left: 150px;
}

.ws-dots .ws-dot {
    display: inline-block;
    margin-right: 30px;
    color: #fff;
    font-size: 14px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.ws-dots .ws-dot:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 0;
    left: 50%;
    top: 30px;
    margin-left: -2px;
    background: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
	transition: all 0.4s;
}

.ws-dots .ws-dot.active:after {
    height: 100%;
}

.ws-dots .ws-dot.active span {
	color: #cc1847;
}

@media only screen and (max-width: 1650px) {
	.ws-dots {
		left: 90px;
	}
}

@media only screen and (max-width: 1510px) {
	.ws-dots {
		left: 30px;
	}
}
/* Medium Laptop : 1200px - 1305px */
@media only screen and (min-width: 1200px) and (max-width: 1305px) {
	.ws-item .ws-title {
		font-size: 80px;
		margin-bottom: 20px;
	}
	.ws-item .ws-des {
		font-size: 25px;
	}
}

/* Large Tablet (iPad Pro) : 992px - 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.ws-item .ws-title {
		font-size: 65px;
		margin-bottom: 20px;
	}
	.ws-item .ws-des {
		font-size: 18px;
	}
}

/* Tablet (iPad) : 768px - 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.ws-item .ws-title {
		font-size: 49px;
		margin-bottom: 20px;
	}
	.ws-item .ws-des {
		font-size: 16px;
	}
	.ws-nav {
		right: 50px;
	}
}
/* Nav Next Control */
@media only screen and (max-width: 830px) {
	.ws-nav {
		right: 20px;
	}
}
/* Small Tablet / Large Mobile : 589px - 767px. */
@media only screen and (max-width: 767px) {
	.ws-item .ws-title {
		font-size: 38px;
        margin-bottom: 20px;
        left: 80px;
	}
	.ws-item .ws-des {
        font-size: 12px;
        left: 80px;
	}
}
/* Mobile : 480px - 588px */
@media only screen and (max-width: 588px) {
	.ws-item .ws-title {
		font-size: 38px;
        margin-bottom: 20px;
        left: 10px;
	}
	.ws-item .ws-des {
		font-size: 12px;
		left: 10px;
	}
}
/* Small Mobile : 401px - 479px */
@media only screen and (max-width: 479px) {
	.ws-item .ws-title {
		font-size: 38px;
        margin-bottom: 20px;
        left: 5px;
	}
	.ws-item .ws-des {
        font-size: 12px;
        left: 5px;
	}
	.ws-nav {
		right: 10px;
	}
}
/* Extra Small Mobile : < 401px*/
@media only screen and (max-width: 400px) {
	.ws-item .ws-title {
		font-size: 28px;
        margin-bottom: 20px;
        left: 0;
	}
	.ws-item .ws-des {
        font-size: 8px;
        left: 0;
	}
	.ws-nav {
		right: 0;
	}
}