# Allow React build directory
!/client/build/**
# Ignore everything else
**/client/
**/node_modules/
**/node_modules_linux/
**/Dockerfile
**/.dockerignore
**/.gitignore
**/.git
**/.env
**/README.md
**/.vscode
**/.DS_Store