.back-to-top-logo {
    font-family: 'Recharge';
    display: block;
    float: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 35px 5px 5px;
    margin: 1em 1em 1em 0px;
}
.back-to-top-logo:hover {
    font-weight: bold;
    color: rgb(201, 201, 201);
}
.navbar-nav-item-btn {
    display: block;
    float: left;
    font-family: 'KanitMedium';
    text-transform: uppercase;
    font-size: 0.8rem;
    background: none;
    color: #fff;
    border-right: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 5px 35px;
    margin: 16px 0px 20px 0px;
    cursor: pointer;
}
.navbar-nav-item-btn:hover {
    font-weight: bold;
    color: rgb(201, 201, 201);
}
@media screen and (max-width: 768px) {
    .navbar-nav-item-btn {
        padding: 1.6em 0.5em;
        margin: 0;
    }
}

.navbar-nav-item-btn:first-child {
    border-left: 1px solid #ffffff;
}

.next-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.site-btn {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	min-width: 135px;
	font-weight: 600;
	padding: 18px 10px 20px;
	color: #222121;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-align: center;
	border-top: 2px solid #222121;
	border-bottom: 2px solid #222121;
}

.site-btn:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	bottom: 2px;
	left: 0;
	background: #222121;
}

.site-btn:hover {
	color: #222121;
}

.site-btn.light {
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.site-btn.light:after {
	background: #fff;
}

.site-btn.light:hover {
	color: #fff;
}

button:focus {
    outline: none;
}