.back-to-top-logo {
    font-family: 'Recharge';
    display: block;
    float: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 35px 5px 5px;
    margin: 1em 1em 1em 0px;
}
.back-to-top-logo:hover {
    font-weight: bold;
    color: rgb(201, 201, 201);
}
.navbar-nav-item-btn {
    display: block;
    float: left;
    font-family: 'KanitMedium';
    text-transform: uppercase;
    font-size: 0.8rem;
    background: none;
    color: #fff;
    border-right: 1px solid #ffffff;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 5px 35px;
    margin: 16px 0px 20px 0px;
    cursor: pointer;
}
.navbar-nav-item-btn:hover {
    font-weight: bold;
    color: rgb(201, 201, 201);
}
@media screen and (max-width: 768px) {
    .navbar-nav-item-btn {
        padding: 1.6em 0.5em;
        margin: 0;
    }
}

.navbar-nav-item-btn:first-child {
    border-left: 1px solid #ffffff;
}

.next-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:focus {
    outline: none;
}