.sp-sub-title {
	color: #868686;
	font-size: 12px;
    text-transform: uppercase;
    clear: none;
}

.sp-title {
	font-size: 30px;
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
	margin-bottom: 35px;
    letter-spacing: 6px;
    clear: none;
}

.intro-text {
    width: 100%;
}
.intro-text p {
    font-size: 14.2px;
    color: #868686;
    line-height: 1.8;
    margin-bottom: 50px;
    clear: none;
}

.intro-img {
    float: right;
    width: 48.33333333%;
    height: auto;
    margin-left: 8.333333333%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.14), 0 0 5px 3px rgba(0,0,0,0.12), 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-filter: grayscale(80%) contrast(80%) brightness(160%);
    filter: grayscale(80%) contrast(80%) brightness(160%);
}

@media only screen and (max-width: 965px) {
    .intro-img {
        display: none;
    }
}
