body {
    font-family: 'Open sans', sans-serif;
}
section {
    display: block;
    overflow: auto;
}
section.ws-section {
    overflow: hidden;
}
.section-pad {
    padding: 130px 45px;
}
.section-sm-pad {
    padding-top: 80px;
    padding-bottom: 80px;
}
.portfolio-section {
    border-top: 1px solid #5f5f5f;
}
.milestones-section {
    background: #222121;
    border-top: 2px solid #5f5f5f;
}